{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        [
            "module-resolver", {
				"root": ["./src"],
				"alias": {
					"test": "./test",
					"underscore": "lodash",
					"scripts": "./src/scripts",
					"actions": "./src/actions",
					"reducers": "./src/reducers",
					"config": "./config.js",
					"common": "./src/components/common",
					"lottie": "./src/lottie"
				}
			}
        ]
    ]
}